/* reset */ 

*
		{
		margin:0;
		padding:0; 
		}

/* global */

header  
		{
		}

body
		{
		background-image:url("../dragons/images/dragonMouth.jpg");
		background-attachment:fixed; 
		background-size: cover;
		}
		

/* text styling */ 

a:link 
		{
		text-decoration:none; 
		color:#000000;
		}
		
a:visited 
		{
		color: #000000;
		}
a:hover
		{
		color: #FF0000;
		}





/* containers and positioning */ 


#centerBox
		{
		width:960px;
		margin: 2em auto;
		background-color:#ffffff;
		box-shadow: 5px -5px 5px #888888
		}
		
#wrapper
		{
		width:900px;
		margin: 0px auto;
		}
		
header
		{
		padding-top:30px
		}
		
.assignmentBox
{
		width:650px; 
		float:left; 
		}
		
/* image styling */ 